.menu__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 15px;
  padding: 7px;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--yellow);
  transition: 0.2s ease;
  background-color: var(--black-aqua_hard_op);
}
.menu__btn:hover {
  /* background-color: var(--black-aqua_op); */
  box-shadow: 0 0 15px var(--blue);
}
.menu__btn:active {
  background-color: var(--aqua-active);
  box-shadow: none;
}

.menu__ico {
  width: 20px;
  height: 20px;
}

.popup__body {
  font-size: 0.8em;
}

.popup__body__el {
  width: 100%;
  text-align: start;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  margin-top: 5px;
  padding: 10px;
}
.el__span {
  font-size: 1.1em;
  font-weight: 700;
  font-style: italic;
}
.el__article {
  margin-top: 3px;
}

.popup__body__el:hover {
  background-color: var(--black-aqua);
}

.popup__body__el:active {
  background-color: var(--aqua-active);
}
