.board_popup {
  position: absolute;
  z-index: 8000;
  padding: 5px;
  top: 60px;
  right: 10px;
}

.add,
.account {
  min-width: 300px;
}
.note {
  min-width: 450px;
  min-height: 300px;
}

.body_shape {
  padding: 5px;
}

.body_shape * {
  display: block;
  text-align: center;
}

.popup__header {
  display: grid;
  grid-template-columns: 0fr 5fr 0fr;

  padding: 5px;
  text-align: center;
}
.popup__header,
.body_shape {
  border-bottom: 1px solid var(--blue);
}

.popup__article {
  grid-column: 2;
  color: var(--pale-green);
}

.popup__btn {
  color: #fff;
}

.info__image {
  width: 350px;
  height: 200px;
}
.account__el {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 15px;
}

.body_row {
  display: flex;
  align-items: center;
}

.btn_textAlign > * {
  text-align: start;
}

.popup__btn:hover {
  color: #888888;
}

*:focus {
  border: 1px dashed var(--pale-blue);
  box-shadow: none;
}
