.add,
.account {
  min-width: 300px;
}
.note {
  min-width: 450px;
  min-height: 300px;
}

.info__image {
  width: 350px;
  height: 200px;
}
.account__el {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 15px;
}

.body_row {
  display: flex;
  align-items: center;
}

.btn_textAlign > * {
  text-align: start;
}

button:focus {
  border: 1px dashed var(--pale-blue) !important;
  box-shadow: none;
}
