.avatar {
  cursor: pointer;
  border-radius: 50%;
}
.colored > * {
  border-radius: 50%;
  background-color: var(--pale-blue);
  color: var(--yellow);
  text-align: center;
  font-weight: 700;
  font-size: 1em !important;
}
