.list {
  position: relative;
  padding: 15px;
  /* margin: 0 0 0 5px; */

  width: 270px;
  z-index: 3000;
}

.list__btnSection {
  margin: 0 !important;
  z-index: 4000;
  position: relative;
  right: 35px;
  top: 15px;
}

.list:first-of-type {
  margin: 0;
}

.list__header {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.list__heading {
  word-break: break-word;
  padding: 2px;
  max-width: 200px;
}

.more__btn {
  border: 1px dashed transparent;
  padding: 2px;
  margin: 0;
}

.list_drop {
  position: absolute;
  background-color: var(--black-aqua);
  top: 35px;
  left: 0;
  width: 304px;
}

.list__body {
  margin-top: 15px;
}

.p_5 {
  padding: 5px;
}

@media (max-width: 1024px) {
  .list_drop {
    left: calc(100% - 250px);
  }
}
