.card {
  position: relative;
  cursor: pointer;
  margin: 10px auto 0 auto;
  padding: 2px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  border-bottom: 1px solid #808080;
}

.edit__card {
  position: relative;
  z-index: 6000;
  width: 100%;
}
.edit__container {
  display: flex;
}
.edit__controls {
  margin-left: 5px;
}

.edit__ico {
  width: 20px;
  height: 20px;
}

.edit__submit__section {
  margin-top: 5px;
}

.edit__btn {
  max-height: 30px;
  position: relative;
  top: 0;
  right: -20px;
  padding: 5px;
  margin: 0;
  box-shadow: none;
}
.card__text {
  width: 80%;
  word-break: break-word;
}

.card_textarea {
  background-color: #f5d18e;
  padding: 5px;
  overflow-wrap: break-word;
  resize: none;
  min-height: 75px;
}

.card:first-of-type {
  margin: 0 auto;
}
